.main-navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 3.5rem;
    background-color: rgb(187, 15, 15);
    color: white;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.main-navigation__logo h1 {
    margin: 0;
    font-size: 1.5rem;
}

.main-navigation__items {
    margin: 0 0 0 1.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-navigation__items ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
}

.main-navigation__items ul li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-navigation__items ul li a {
    padding: 0 1rem;
    text-decoration: none;
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-navigation__items ul li a:hover,
.main-navigation__items ul li a:active,
.main-navigation__items ul li a.active {
    text-decoration: none;
    background-color: rgb(126, 12, 12);
    outline: none;
    border-radius: 5px;
}